.footer {
    --columns: 1;

    padding: calc(var(--spacing) * 8) 0;
    color: var(--color-zinc-50);
    background-color: var(--color-zinc-950);
}
.footer__content {
    display: grid;
    gap: calc(var(--spacing) * 4);
    grid-template-columns: repeat(var(--columns), minmax(0, 1fr));

    @media (min-width: 768px) {
        --columns: 2;
    }

    @media (min-width: 1024px) {
        --columns: 3;
    }
}

.widget {
    color: var(--color-zinc-300);

    & strong {
        color: var(--color-zinc-50);
    }
}

.widget-title {
    color: var(--color-zinc-50);
    font-weight: var(--font-weight-semibold);
    font-size: var(--text-lg);
}
