.sedes-grid {
    --columns: 1;
    --space: 1.5rem;

    display: grid;
    grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
    gap: var(--space);
    padding: calc(var(--spacing) * 4) 0;

    @media (min-width: 768px) {
        --columns: 2;
        --space: 3rem;
    }
}

.card {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 4);
    padding-bottom: calc(var(--spacing) * 4);
    text-align: center;
    border: 1px solid var(--color-zinc-200);
    box-shadow: var(--shadow-md);
    border-radius: var(--radius-md);
    overflow: hidden;
}

.thumbnail {
    aspect-ratio: 16 / 9;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content {
    padding: 0 calc(var(--spacing) * 4);
    color: var(--color-zinc-800);
}

.title {
    font-size: var(--text-2xl);
    font-weight: var(--font-weight-black);
}

.reference {
    display: block;
    font-style: italic;
}
.capacity {
    text-align: center;
    color: var(--color-zinc-600);
}
.card__footer {
    padding: var(--spacing);
    text-align: center;
}
.link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-fuchsia-500);
    color: var(--color-fuchsia-50);
    padding: calc(var(--spacing) * 3) calc(var(--spacing) * 4);
    border-radius: var(--radius-2xl);
    margin: auto auto 0;
    text-align: center;
    width: 80%;
    min-width: 100px;
    transition: color, background-color, opacity, transform, 300ms ease-in;

    &:hover {
        background-color: var(--color-fuchsia-600);
    }
}

/* Sede info */
.sede {
    padding: calc(var(--spacing) * 6) 0;
    color: var(--color-zinc-800);
    text-align: center;
}

.sede__title {
    font-size: var(--text-3xl);
    font-weight: var(--font-weight-black);
    margin-bottom: calc(var(--spacing) * 4);

    @media (min-width: 768px) {
        font-size: var(--text-4xl);
    }

    @media (min-width: 1024px) {
        font-size: var(--text-5xl);
    }
}

.sede__subtitle {
    font-size: var(--text-xl);
    text-transform: uppercase;
    color: var(--color-zinc-500);
    margin-bottom: calc(var(--spacing) * 2);
}

/* Fechas tabs */
.fechas-tabs {
    --gap-size: calc(var(--spacing) * 3);

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--gap-size, 1rem);
    padding: calc(var(--spacing) * 4) 0;

    @media (min-width: 768px) {
        --gap-size: 1rem;
    }

    & .fecha-tab {
        --min-width: 80px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        cursor: pointer;
        background-color: var(--color-zinc-50);
        border-radius: 0 var(--radius-2xl);
        transition: 0.3s;
        border-width: 2px;
        border-style: solid;
        border-color: var(--color-zinc-200);
        border-image: initial;
        font-size: var(--text-lg);
        padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);

        @media (min-width: 768px) {
            --min-width: 100px;
        }

        &.active {
            color: var(--color-fuchsia-900);
            transform: translateY(-2px);
            box-shadow: var(--color-fuchsia-200) 0px 4px 15px;
            background-color: var(--color-fuchsia-200);
            border-color: var(--color-fuchsia-200);
            font-weight: var(--font-weight-extrabold);
            border-radius: var(--radius-2xl) 0;
            animation: var(--animate-spin);
        }
    }
}

/* Grid de stands - reservas */
.reservation {
    padding: calc(var(--spacing) * 2) 0;
    color: var(--color-zinc-800);
}

.reservation__text {
    color: var(--color-zinc-500);

    @media (min-width: 768px) {
        font-size: var(--text-xl);
    }
}

.reservation__content--form {
    padding-top: calc(var(--spacing) * 4);
}
.reservation__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(var(--spacing) * 6);
    padding: inherit 0;
}

.form__field {
    width: 100%;
    text-align: center;
}
.form__stand-grid {
    --size: 32px;
    --category-standard: var(--color-purple-500);
    --category-food: var(--color-amber-500);
    --category-color: var(--category-standard);
    --select-color: var(--color-fuchsia-500);

    --status-free: var(--color-green-500);
    --status-reserved: var(--color-orange-500);
    --status-paid: var(--color-rose-500);
    --status-color: var(--status-free);

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--size), 1fr));
    gap: calc(var(--spacing) * 2);
}
.form__option-stand {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--size);
    height: var(--size);
}
.form__radio-stand {
    --border-size: calc(var(--size) / 9);
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    /* background-color: var(--form-background); */
    /* Not removed via appearance */
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    /* z-index: -1; */
    border: var(--border-size) solid;
    border-color: var(--category-color);
    border-radius: var(--radius-4xl);
    background-color: var(--status-color);

    display: grid;
    place-content: center;
    overflow: hidden;

    &::before {
        content: "";
        width: var(--size);
        height: var(--size);
        border-radius: var(--radius-4xl);
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em var(--select-color);
        background-color: var(--select-color);
        --category-color: var(--select-color);
    }
    &:checked::before {
        transform: scale(1);
    }

    &:focus {
        outline: max(var(--border-size), 0.15em) solid var(--select-color);
        outline-offset: max(var(--border-size), 0.15em);
    }

    &.standard {
        --category-color: var(--category-standard);
    }

    &.food {
        --category-color: var(--category-food);
    }

    &.pending,
    &.paid {
        cursor: no-drop;
        user-select: none;
    }

    &.free {
        --status-color: var(--status-free);
    }

    &.paid {
        --status-color: var(--status-paid);
    }

    &.pending {
        --status-color: var(--status-reserved);
    }
}
.form__label-stand {
    font-size: var(--text-sm);
    line-height: inherit;
    cursor: pointer;
    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-zinc-800);

    &.pending,
    &.paid {
        cursor: no-drop;
        user-select: none;
    }
}
.form__selected-date--hidden {
    visibility: hidden;
    opacity: 0;
    width: 0;
    height: 0;
    font-size: 0;
    user-select: none;
    cursor: none;
    display: none;
}
.form__button {
    margin: calc(var(--spacing) * 2) auto auto;
    color: var(--color-fuchsia-50);
    background-color: var(--color-fuchsia-500);
    cursor: pointer;
    border-radius: var(--radius-lg);

    &:hover {
        color: var(--color-fuchsia-50);
        background-color: var(--color-fuchsia-600);
    }

    &.disabled {
        cursor: default;
        color: var(--color-fuchsia-50);
        background-color: var(--color-fuchsia-400);
        opacity: 0.6;
    }
}
.form__text-warning {
    color: var(--color-zinc-500);
    font-size: var(--text-sm);
    transition: color, background-color, opacity, transform, 300ms ease-in;

    &.hidden {
        width: 0;
        height: 0;
        font-size: 0;
        visibility: hidden;
        opacity: 0;
        display: none;
    }
}

/* formulario de usuario */
.form {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 4);
    padding: 1rem;

    & a {
        color: var(--color-blue-500);
    }

    & .mb-3 {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        & label {
            display: block;
        }

        & input {
            display: inline-block;
            border: 1px solid var(--color-zinc-300);
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
        }
    }

    & .form-check {
        flex-direction: row;
    }
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--text-base);
    font-family: inherit;
    line-height: inherit;
    padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
    transition: color, background-color, opacity, transform, 300ms ease-in;

    &:active {
        transform: scale(0.9);
    }
}
